.signInUp {
  border: 1px solid black;
  border-radius: 5%;
  padding: 30px;
  margin: 30px;
  font-size: 25px;
  text-align: center;
  width: 330px;
}
.signInUp > input {
  background-color: #eae7e7;
  border: 1px solid #cdcccc;
  border-radius: 5px;
  padding-left: 20px;
  outline: none;
  color: #909090;
  height: 40px;
  width: 300px;
  margin-bottom: 10px;
}
button {
  background-color: teal;
  color: white;
  height: 40px;
  width: 150px;
  outline: none;
  border-radius: 50px;
  float: right;
  position: relative;
  margin-top: 10px;
  border: 1px solid white;
  font-weight: bold;
  margin-right: 10px;
}
.signInUp > p {
  float: left;
}
.signInUp > p > a {
  color: black;
}
.row {
  position: relative;
}
p > a {
  position: relative;
  bottom: 10px;
  font-size: 15px;
  color: black;
  margin-left: 20px;
  text-decoration: none;
}
.msg {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 80px;
  color: teal;
}
